#creerAnnonce{
    color: #ffffff;
    text-decoration: none;
}
#mesAnnonces {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}
#titleChoixAnnonce{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.contentChoix{
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: .4s;
}
.contentChoix:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translate(0px, -8px);
    transition: .6s;
}
#imageChoix{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
#buttonStyleChoix{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border:0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.depo-1{
    background-color: #0026ff;
}
.depo-2{
    background-color: rgba(255, 0, 0, 0.96);
}
.depo-3{
    background-color: #7178f6;
}
@media(max-width: 1000px){
    .contentChoix{
        width: 46%;
    }
}
@media(max-width: 750px){
    .contentChoix{
        width: 100%;
    }
}
#dateAnnonce{
    height: 50px;
    display: flex;
    margin-top: 2%;
    align-items: center;
}
#InputImageAnnonce{
    display: flex;
    margin-top: 2%;
    align-items: center;
}

#labeleAnnonceTitre{
    cursor: pointer;
    color: #03023f;
    font-weight: bold;
}

input[type='file'] {
    color: transparent;
}
#btnRadio{
    display:none;
}
#labeleAnnoncetype{
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
}
.titrePage {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    margin-top:20px ;
    border: 2px solid white;
}
#typeOffre{
    display: inline-block;
}

#idCard{
    width: 17rem;
    margin-bottom:5px;
    text-align:center;
    display:inline-block;
}
#imageAnnonce{
    border-radius: 20px;
    margin-top: 10px;
    width:60%;
    height: 60px;
    margin-left: 20px;
}
#imageAnnonce img {
    width:100%;
    height: 100px;
    margin-left: 35px;
    border-radius: 10px;
}
#annonceConsChoix{
    color: #ffffff;
    text-decoration: none;
}
.SearchForm {
    text-align: right;
    display: inline;
    padding: 0px 0px;
    justify-content: center;

}
#searchRes {
    border: none;
    margin: 0;
    display: inline-block;
    line-height: 20px;
    width:600px;

}

#td {
    width: 300px;
    text-align: center;
    padding: 5px;

}
#SearchButton {
    background-color: #ff0000;
    border-radius: 10px;
    line-height: 40px;
    width: 40px;
}
